:root {
  --primary-color:#9b59b6; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  max-width: 95rem;
  margin: 0 auto;
  width: 90%; }

.form {
  padding: 1rem 0; }
  .form__control {
    padding: 1rem;
    margin-bottom: 2rem; }
  .form__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid #00d3d6;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    display: block;
    width: 100%; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid #00d3d6; }
    .form__input::webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.4rem;
    display: block;
    margin: 1rem 0;
    font-weight: 400; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.form-inline {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: space-between; }
  .form-inline__control {
    padding: 1.1rem 1rem;
    width: 50%; }
  .form-inline__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid #00d3d6;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    width: 100%; }
    .form-inline__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid #00d3d6; }
  .form-inline__label {
    font-size: 1.4rem;
    margin: 1rem 0;
    font-weight: 400; }
  .form-inline__input:placeholder-shown + .form-inline__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form-inline__btn--back {
    float: right; }

.header {
  background-color: #00d3d6; }
  .header__nav-bar {
    display: flex;
    text-transform: uppercase;
    padding: 1rem 0;
    align-items: center; }
    .header__nav-bar a {
      text-decoration: none;
      display: inline-block;
      color: #fff;
      font-size: 2rem; }
  .header__clear-btn {
    background-color: #00d3d6;
    margin-left: auto; }
    .header__clear-btn:hover {
      background-color: #00ecf0; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-family: inherit;
  font-size: 1rem;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  outline: none;
  background: #00d3d6; }
  .btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    background: darkturquoise; }

.card {
  max-width: 80rem;
  background-color: #fff;
  padding: 1rem 2rem;
  margin: 2rem auto;
  border: 1px solid rgba(0, 211, 214, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .card__heading {
    align-self: auto; }
  .card__meal-form {
    padding: 1rem 0; }
  .card__buttons {
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between; }

.list {
  list-style: none;
  border: 1px solid rgba(0, 211, 214, 0.8);
  font-size: 1.2rem; }
  .list__item {
    padding: 1.5rem; }
    .list__item .icon {
      font-size: 2rem;
      float: right;
      margin-left: 2rem; }
    .list__item:not(:last-child) {
      border-bottom: 1px solid #00d3d6; }

.meal-item-container {
  max-width: 80rem;
  margin: 2rem auto; }
  .meal-item-container__totalCalorie {
    text-align: center;
    margin-bottom: 1rem; }
