.btn{
     text-transform: uppercase;
     text-decoration: none;
     padding: 1.5rem 4rem;
     font-family: inherit;
     font-size: 1rem;
     font-size: 1.6rem;
     border: none;
     color:#fff;
     cursor: pointer;
     box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
     transition:all 0.2s;
     outline:none;
     &:active{
        transform: translateY(0.2rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
     }
     
     &:hover{
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
     }
     
}
